<main>
  <section class="contact__form__section">
    <h1 class="contact__form__title">Contact us</h1>
    <form class="contact__form">
      <div class="contact__form__nameSection">
        <label for="firstName" class="contact__form__textLabel">First Name *</label>
        <input type="text" id="firstName" class="contact__form__input__text" />
        <span class="contact__form__errorMessage">This field is required</span>
      </div>

      <div class="contact__form__nameSection">
        <label for="lastName" class="contact__form__textLabel">Last Name *</label>
        <input type="text" id="lastName" class="contact__form__input__text" />
        <span class="contact__form__errorMessage">This field is required</span>
      </div>

      <div>
        <label for="email" class="contact__form__textLabel">Email Address *</label>
        <input type="email" id="email" class="contact__form__input__text" />
        <span class="contact__form__errorMessage">Please enter a valid email address</span>
      </div>

      <div class="contact__form__queryType__section">
        <span>Query Type *</span>
        
        <div class="contact__form__queryType__container">
          <label class="contact__form__queryType" for="generalEnquiry">
            <input type="radio" id="generalEnquiry" name="queryType" />
            <span>General Enquiry</span>
          </label>
    
          <label for="supportRequest" class="contact__form__queryType">
            <input type="radio" id="supportRequest" name="queryType" />
            <span>Support Request</span>
          </label>
        </div>

        <span class="contact__form__errorMessage">Please select a query type</span>
      </div>

      <div>
        <label for="message" class="contact__form__textLabel">Message *</label>
        <textarea id="message" class="contact__form__input__text contact__form__input__text--textArea"></textarea>
        <span class="contact__form__errorMessage">This field is required</span>
      </div>

      <div class="contact__form__consent__section">
        <input type="checkbox" id="consent" />
        <label for="consent" class="contact__form__textLabel">I consent to being contacted by the team *</label>
        <span class="contact__form__errorMessage">To submit this form, please consent to being contacted</span>
      </div>

      <input type="submit" value="Submit" />
    </form>
  </section>
</main>